[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = torocat1028
	email = torocat1028@gmail.com
[core]
	editor = vim
[credential]
	helper = store
