[Desktop Entry]
Comment="Run devilspie at startup"
Exec=/usr/bin/devilspie
GenericName="devilspie"
Name="devilspie"
Terminal=false
Type=Application
X-Gnome-Autostart=true
